p#notice = notice

p
  strong Name:
  = @product.name
p
  = link_to image_tag(@product.image.big_thumb), @product.image.url

= link_to 'Edit', edit_product_path(@product)
'|
= link_to 'Back', products_path
